html {
  height: 100%;
  width: 100%;
}#p1{
  color:red;
   font-family:Papyrus;
}#p2{
  color:orange;
   font-family:Papyrus;
}#p3{
  color:yellow;
   font-family:Papyrus;
}#p4{
  color:green;
   font-family:Papyrus;
}#p5{
  color:blue;
   font-family:Papyrus;
}#p6{
  color:indigo;
   font-family:Papyrus;
}#p7{
  color: violet;
   font-family:Papyrus;
}
.even{
  color:red;
}#img1{
  height:100%;
  width:80%
}#img2{
  height:100%;
  width:30%
}}#img3{
  height:100%;
  width:30%
}}#img4{
  height:100%;
  width:30%
}h2{
  font-family:Papyrus;
}
  






